/*
Copyright WorldOfLinux.org 2016
All rights reserved.
*/

body {
    color:#222;
    margin:0;
}
::selection{
    background-color:#00CCCC;
}
/* Header */
.header{
    font-size:large;
    font-family: 'Titillium Web','Open Sans', sans-serif;
    padding-left: 16%;
    background-color:#222C33;
}
.header img.logo{
    float:left;
    margin-top: 12px;
}
.logosmall{
    float:left;
    display:none;
    margin-top:24px;
}
.header nav{
    margin-left: 16px;
    float:left;
}
.header nav a{
    float: left;
    border:none;
}
.header nav a:link,
.header nav a:visited {
    display: block;
    padding: 16px;
    text-decoration: none;
    text-transform:lowercase;
    color: white;
    transition: .25s;
}
.header nav a:hover{
    background-color: #00CCCC;
    color: black;
}
/* End header*/

/* Body */
h5{
    font-family: 'Titillium Web', 'Open Sans', sans-serif;
    color: #222C33;
    font-size: 2em;
    margin:0;
    margin-bottom:20px;
}
h4{
    font-family: 'Titillium Web', 'Open Sans', sans-serif;
    color: #222C33;
    font-size: 2em;
    margin: 20px 0 20px 0;
}
h3{
    color:#222;
    font-size: 18px;
    margin:20px 5px;
}
h2{
    font-family: 'Titillium Web', 'Open Sans', sans-serif;
    font-size: 20px;
    color:white;
    background-color: #222C33;
    padding: 8px;
    margin:40px 0 20px 0;
    line-height: 1.25;
    font-weight: normal;
    max-width:800px;
}
h1{
    color: #222C33;
    font-family: 'Titillium Web', 'Open Sans', sans-serif;
    margin: 20px 0 20px 10px;
}
.bodycontainer{
    margin-left:auto;
    margin-right:auto;
    max-width:924px;
}
.contents {
    float:left;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color:white;
    font-family: 'Source Sans Pro', Verdana, sans-serif;
    font-size: .95em;
    line-height:1.5;
    max-width: 750px;
    min-height: 800px;
    margin-right:10px;
    margin-bottom:20px;
}
.contentsLanding{
    padding-top: 20px;
    padding-bottom: 60px;
    background-color:white;
    font-family: 'Source Sans Pro', Verdana, sans-serif;
    font-size: .95em;
    line-height:1.5;
    max-width: 950px;
    min-height: 800px;
}
.contents p{
    margin:10px;
    color:rgba(0,0,0,0.85);
    max-width: 800px;
}
.bodylink{
    text-decoration:none;
    border-bottom:2px solid #eb1946;
    color:#eb1946;
}
.bodylink:hover{
    background-color: #eb1946;
    color:white;
}
#speciallink{
    text-decoration:none;
    border-bottom:1px solid #eb1946;
    color:#eb1946;
}
#speciallink:hover{
    background-color: #eb1946;
    color:white;
}
/* End body*/

/* Random */

.contents p.code{
    padding:10px;
    background-color:#eee;
    line-height:1.4em;
    font: 14px monospace;
    display:block;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 800px;
}
figure{
    margin-left:10px;
    margin-top:30px;
    margin-bottom:30px;
}
figcaption{
    margin-top:-4px;
    font-size: smaller;
}
a.back-to-top {
	display: none;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 5%;
	bottom: 5%;
	background: url("../res/up-arrow.png") no-repeat center 43%;
    border-bottom: none;
    opacity: 0.5;
}
table{
    margin-left: 20px;
}
.chapter{
    position: relative;
    top: 30px;
    max-width: 800px;
}
.chapter a{
    border: 2px solid #0275d8;
    background-color: #0275d8;
    color: white;
    padding: 5px;
    border-radius: 3px;
    text-decoration:none;
}
.previous{
    position:absolute;
    left: 20%;
    bottom: 20px;
}
.index{
    position:absolute;
    left: 48%;
    bottom:20px;
}
.next{
    position:absolute;
    right: 20%;
    bottom:20px;
}
.next a:hover, .previous a:hover, .index a:hover{
    background-color:#025aa5;
    border: 2px solid #025aa5;
}
.sharer{
    margin:10px 0 20px 10px;
    width:100%;
}

/* End Random */

/* Footer */
.footer {
    font-size:14px;
    color:white;
    clear:both;
    padding-top:40px;
    padding-bottom: 60px;
    background-color:#222C33;
    font-family:'Source Sans Pro', sans-serif;
}
.disclaimer{
    margin-left: 5%;
    margin-bottom:20px;      
}
.footer a{
    color: #00CCCC;
    text-decoration:none;
}
.footer a:hover{
    background-color:#00CCCC;
    color:black;
}
#footerlinks{
    vertical-align:middle;
    text-align:center;
}
#footerlinks span a{
    font-size:1.2em;
    padding:10px;
    font-family:'Titillium Web', sans-serif;
}
/* End Footer */

/* ads */
.leaderboard{
    margin-bottom:60px;
    margin-top:60px;
    width:730px;
    height:92px;
    margin-left:auto;
    margin-right:auto;
}
.skyscraper{
    float:left;
    width:162px;
    height:602px;
    margin-top:200px;
}
/* end ads*/


/* table */
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 15px;
  margin-left:0;
}
/*
 * Add margin if adjacent element
 */
* + .table {
  margin-top: 15px;
}
.table th,
.table td {
  padding: 8px 8px;
  border-bottom: 1px solid #dddddd;
}
.table th {
  text-align: left;
}
.table td {
  vertical-align: top;
  border-top:1px solid #dddddd;
}
.table thead th {
  vertical-align: bottom;
  padding-top:40px;
}
.table tbody tr.active {
  background: #f0f0f0;
}
.table-hover tbody tr:hover {
  background: #0dbdbd;
}




/*Media queries*/
/* Stop screenshots showing */
@media only screen and (max-width: 800px){
    figure{
        display:none;
    }
    .leaderboard{
        display:none;
    }
}

/* Display ads responsively */
@media (max-width: 938px){
    .skyscraper{
        display:none;        
    }
}

/* Optimise for minimum width */
@media only screen and (max-width: 515px) {
    .previous, .next, .index{
        position:static;
        margin-top:10px;
        clear: left;
    }
    .header{
        margin:0;
        padding:0;
    }
}

/* For mobiles */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5)
only screen and (max-width: 700px) {
    .contents{
    
    }
    .contents p.code{
        max-width:none;
    }
    table, .chapter, .footer{
        font-size:40px;
    }
    .logosmall {
        display:inline;
    }
    .logo{
        display:none;
    }
    .previous, .index, .next{
        position:static;
        float:left;
        clear:none;
        margin:10px 0 0 10px;
    }
    .header{
        font-size: 50px;
        padding-left:0;
    }
}
